@media  screen and (max-width:800px) {
  #flex1{
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
 #flex2 {
   display: flex;
   flex-direction: column-reverse;
   align-items: center;
 }
button {
  width : 50%;
  border-radius: 10px
}
nav {
  width:100%;

}
nav ul { list-style-type: none;
          display:flex;
          flex-flow: column;
          align-items: center;
          padding: 0px;}
nav ul li { border: solid 2px black;
            width:80%;
            text-align: center;}
#content2,#ferme { display: none
}
#content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#bloc1 {
    width:90%;
    border: solid 2px black
}
.titre{
  background-color: #8D2B16;
  margin-top: 0px;
  border-bottom: solid 2px black
}
.titre h2 {
  margin: 0px;
}
#Jean_Farine{
  width: 100%;
}
#logo {
  height:15em;
}
#search {
  width:40%
}
a { color: black;
  text-decoration: none;}
#nouveautebox img {
  width:100%
}
}
